{% extends "layout.html" %}
{% block content %}
<div class="row justify-content-center align-items-center min-vh-80">
  <div class="col-md-5">
    <div class="card shadow p-4">
      <div class="text-center mb-3">
        <img src="{{ url_for('static', filename='download.jpeg') }}" alt="Logo" style="height: 60px; border-radius: 10px;">
        <h2 class="mt-2 mb-4 text-primary">Reset Password</h2>
      </div>
      <form method="POST" action="/resetpassword">
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="new_password" class="form-label">New Password</label>
          <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New Password" required>
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm New Password</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="Confirm New Password" required>
        </div>
        <div class="d-grid mb-2">
          <button type="submit" class="btn btn-primary btn-lg">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %} 